In [1]:
# import dependencies
import time

from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests

In [2]:
def init_browser():
    executable_path = {'executable_path': './chromedriver.exe'}
    return Browser("chrome", **executable_path, headless=False)

browser = init_browser()

In [3]:
browser.visit('https://mars.nasa.gov/news/')

time.sleep(5)

mars_news_html = browser.html
news_soup = BeautifulSoup(mars_news_html,'html.parser')

news_title = news_soup.find_all('div', attrs={'class':'content_title'})[1].get_text()
news_des = news_soup.find('div', attrs={'class':'article_teaser_body'}).get_text()

print('Most Recent News Title:',news_title)
print('Latest News Paragraph:',news_des)

Most Recent News Title: The Detective Aboard NASA's Perseverance Rover
Latest News Paragraph: An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

In [8]:
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

browser.visit(featured_image_url)

In [9]:
img_html = browser.html
img_soup = BeautifulSoup(img_html, 'html.parser')

In [13]:
img_tail = img_soup.find('article',class_='carousel_item')['style'][23:-3]

In [14]:
featured_image_url = 'https://www.jpl.nasa.gov' + img_tail

In [15]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA16682-1920x1200.jpg'

In [46]:
browser = init_browser()
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [47]:
# HTML Object 
html_weather = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html_weather, 'html.parser')

In [48]:
# Find all elements that contain tweets
latest_tweets = soup.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')

In [49]:
weather =[]
for i in latest_tweets:
    if "sol" in i.text:
        weather.append(i.text)

In [50]:
weather[0].replace("\n", " ")

'InSight sol 534 (2020-05-27) low -92.8ºC (-135.1ºF) high 0.9ºC (33.7ºF) winds from the SW at 4.8 m/s (10.8 mph) gusting to 18.8 m/s (42.1 mph) pressure at 7.20 hPa'

In [51]:
weather

['InSight sol 534 (2020-05-27) low -92.8ºC (-135.1ºF) high 0.9ºC (33.7ºF)\nwinds from the SW at 4.8 m/s (10.8 mph) gusting to 18.8 m/s (42.1 mph)\npressure at 7.20 hPa',
 'InSight sol 533 (2020-05-27) low -92.8ºC (-135.1ºF) high -6.7ºC (19.9ºF)\nwinds from the SW at 6.4 m/s (14.2 mph) gusting to 21.3 m/s (47.5 mph)\npressure at 7.20 hPa',
 'InSight sol 532 (2020-05-26) low -93.1ºC (-135.7ºF) high -1.1ºC (30.0ºF)\nwinds from the SW at 4.9 m/s (10.9 mph) gusting to 17.7 m/s (39.6 mph)\npressure at 7.10 hPa',
 'InSight sol 531 (2020-05-24) low -93.5ºC (-136.2ºF) high -6.1ºC (21.0ºF)\nwinds from the WNW at 5.6 m/s (12.5 mph) gusting to 21.1 m/s (47.3 mph)\npressure at 7.10 hPa',
 'InSight sol 530 (2020-05-23) low -92.6ºC (-134.7ºF) high 0.4ºC (32.7ºF)\nwinds from the SW at 4.7 m/s (10.6 mph) gusting to 17.4 m/s (38.9 mph)\npressure at 7.10 hPa',
 'InSight sol 529 (2020-05-22) low -93.2ºC (-135.8ºF) high 0.6ºC (33.1ºF)\nwinds from the WNW at 4.6 m/s (10.3 mph) gusting to 15.5 m/s (34.6 mph)\npressure at 7.10 hPa',
 'InSight sol 528 (2020-05-22) low -93.5ºC (-136.3ºF) high -5.3ºC (22.4ºF)\nwinds from the SW at 6.3 m/s (14.0 mph) gusting to 23.6 m/s (52.8 mph)\npressure at 7.10 hPa']

In [13]:
facts_url = 'http://space-facts.com/mars/'
mars_facts = pd.read_html(facts_url)
mars_df = mars_facts[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
mars_df.columns = ['Description','Value']

mars_df.set_index('Description', inplace=True)

data = mars_df.to_html() 
print(data)

mars_df

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [3]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemispheres_url)

In [4]:
html_hemispheres = browser.html

soup = BeautifulSoup(html_hemispheres, 'html.parser')

In [5]:
items = soup.find_all('div', class_='item')

hemispheres = []

hemispheres_main_url = 'https://astrogeology.usgs.gov'

for item in items: 
   
    title = item.find('h3').text
    image_url = item.find('a', class_='itemLink product-item')['href']
    browser.visit(hemispheres_main_url + image_url)
    image_html = browser.html

    soup = BeautifulSoup(image_html, 'html.parser')
    image_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    hemispheres.append({"Title" : title, "Image_URL" : image_url})

In [6]:
hemispheres

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]